@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
  --tw-color-primary-50: 240 249 255;
  --tw-color-primary-100: 224 242 254;
  --tw-color-primary-200: 186 230 253;
  --tw-color-primary-300: 125 211 252;
  --tw-color-primary-400: 56 189 248;
  --tw-color-primary-500: 14 165 233;
  --tw-color-primary-600: 2 132 199;
  --tw-color-primary-700: 3 105 161;
  --tw-color-primary-800: 7 89 133;
  --tw-color-primary-900: 12 74 110;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f0f9ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #e0f2fe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bae6fd */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #7dd3fc */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #38bdf8 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #0ea5e9 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #0284c7 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #0369a1 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #075985 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #0c4a6e */
  /* #endregion  /**======== Primary Color =========== */
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("/fonts/Poppins/Poppins-Regular.ttf") format("ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    font-weight: 500;
    src: url("/fonts/Poppins/Poppins-Medium.ttf") format("ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    font-weight: 700;
    src: url("/fonts/Poppins/Poppins-Bold.ttf") format("ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "puck";
    src: url("/fonts/Puck-Regular.woff2") format("woff2"),
      url("/fonts/Puck-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "puck";
    src: url("/fonts/Puck-Medium.woff2") format("woff2"),
      url("/fonts/Puck-Medium.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  b,
  strong {
    font-weight: 700;
  }

  .cursor-newtab {
    cursor: url("/images/new-tab.png") 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }
  hr {
    @apply my-4 border-t border-gray-300;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }

  body {
    color: #4b4b4b;
  }

  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
  .sb {
    @apply border border-red-300;
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}

@layer components {
  .customArrow {
    filter: drop-shadow(-3px -1px 2px rgba(50, 50, 0, 0.5));
  }
  .customArrow:after {
    content: "";
    @apply absolute -top-[1.8rem] left-3/4 block h-3 w-5 bg-white shadow;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}

@layer components {
  .animate-shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% {
      transform: scale(1) rotate(0deg);
    }
    10% {
      transform: scale(1) rotate(10deg);
    }
    20% {
      transform: scale(1) rotate(-10deg);
    }
    30% {
      transform: scale(1) rotate(0deg);
    }
    40% {
      transform: scale(1) rotate(-10deg);
    }
    50% {
      transform: scale(1.1) rotate(10deg);
    }
    60% {
      transform: scale(1.1) rotate(0deg);
    }
    70% {
      transform: scale(1.2) rotate(-10deg);
    }
    80% {
      transform: scale(1.2) rotate(10deg);
    }
    90% {
      transform: scale(1.2) rotate(0deg);
    }
    100% {
      transform: scale(1.2) rotate(-10deg);
    }
  }
}

@import "button";
@import "modal";
@import "loader";

body {
  min-width: 360px;
}

.recipesContainer {
  // max-width: 1200px;
  // margin: 0 auto;
  padding: 0 50px;

  @media (max-width: 1399px) {
    padding: 0 20px;
  }

  @media (max-width: 767px) {
    padding: 0 15px;
  }
}

.recipesSection {
  margin: 0 0 70px;

  @media (max-width: 1023px) {
    margin: 0 0 40px;
  }

  @media (max-width: 767px) {
    margin: 0 0 30px;
  }
}

.savedRecipesWrapper {
  .recipesContainer {
    max-width: inherit;
    margin: 0 auto;
    padding: 0 50px;

    @media (max-width: 1399px) {
      padding: 0 20px;
    }

    @media (max-width: 767px) {
      padding: 0 15px;
    }
  }

  .recipesSection {
    margin: 0 !important;
  }
}

.recipesSectionHeader {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 0 23px;

  .recipesSectionTitle {
    display: block;
    font-size: 25px;
    line-height: 1.5;
    color: #404040;
    margin: 0 20px 0 0;

    @media (max-width: 767px) {
      font-size: 21px;
    }
  }

  .favorite-head {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  .recipesSectionText {
    font-size: 10px;
    line-height: 1.5;
    color: #727170;
    opacity: 0.5;

    @media (max-width: 767px) {
      width: 100%;
      margin: 0 0 10px;
    }

    &:only-child {
      padding-top: 7px;
    }
  }

  .feature-btn {
    font-size: 10px;
    line-height: 14px;
    min-width: 70px;
    color: #8d8d96;
    padding: 4px 10px;
    background: #fff;
    border: 1px solid #e5e8ef;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.4s ease;

    svg {
      margin: 0 -3px 0 3px;

      path {
        transition: all 0.4s ease;
      }
    }

    &:hover {
      color: #fff;
      background: #ff6067;
      border-color: #ff6067;

      path {
        fill: #fff;
      }
    }
  }
}

.recipesSectionHolder {
  display: flex;
  margin: 0 -7px;
  flex-flow: row wrap;
}

.recipeItem {
  width: calc(20% - 14px);
  margin: 0 7px 30px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  transition: all 0.4s ease;

  @media (max-width: 1199px) {
    width: calc(25% - 14px);
  }

  @media (max-width: 1023px) {
    width: calc(33.333% - 14px);
  }

  @media (max-width: 767px) {
    width: calc(50% - 14px);
    margin-bottom: 15px;
  }

  @media (max-width: 479px) {
    width: calc(100% - 14px);
  }

  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  }

  .recipeItemImage {
    position: relative;
    border-radius: 8px 8px 0 0;

    img {
      border-radius: 8px 8px 0 0;
      width: 100%;
    }
  }

  .tagsIcon,
  .heartIcon {
    position: absolute;
    top: 12px;
  }

  .heartIcon {
    left: 12px;
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 8px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .like {
      width: 32px;
      height: 32px;
      margin: 0;
      padding: 2px 0 0;
    }

    svg {
      width: 20px;
      height: 20px;

      path {
        fill: #d4d4d4;
      }
    }
  }

  .tagsIcon {
    right: 12px;
    background: #11c278;
    height: 26px;
    width: auto;
    border-radius: 15px;
    font-size: 10px;
    line-height: 16px;
    color: #fff;
    border: 0;
    padding: 3px 12px;

    &:hover {
      svg {
        transform: rotate(360deg);
      }
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    svg {
      fill: #fff;
      width: 9px;
      height: 9px;
      margin: 0 5px 0 0;
      transition: all 0.4s ease;
    }
  }

  .recipeItemTextbox {
    overflow: hidden;
    padding: 14px 12px;
    border-radius: 0 0 8px 8px;
  }

  .recipeTitle {
    display: block;
    font-size: 15px;
    line-height: 20px;
    color: #1e1e2d;
    margin: 0 0 10px;
    cursor: pointer;

    &:hover {
      color: #e0464d;
    }
  }

  .recipeAuthor {
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    line-height: 15px;
    color: #a2a2a2;
    margin: 0 0 13px;
    position: relative;
    transition: all 0.25s ease-in-out;
    cursor: pointer;

    svg {
      fill: #e0464d;
      opacity: 0;
      visibility: hidden;
      transition: all 0.25s ease-in-out;
      position: absolute;
      right: 0;
      top: 52%;
      transform: translateY(-49%);
      margin: 0;
      width: 14px;
      height: auto;
    }

    &:hover {
      color: #e0464d;
      padding-right: 18px;

      svg {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .recipeMeta {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .recipeMetaBox {
    display: flex;
    align-items: center;
    font-size: 11px;
    line-height: 17px;
    color: #565661;
    width: 50%;
    cursor: pointer;
    transition: all 0.4s ease;

    &:hover {
      color: #e0464d;
    }

    svg {
      margin: 0 10px 0 0;
    }

    .image-comp {
      width: 14px;
      display: block;
      margin: 0 10px 0 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.recipesCategories {
  display: flex;
  white-space: nowrap;
  overflow: auto;
  margin: 0 0 20px;
  padding: 5px 0 15px;
}

.recipesCategoriesButton {
  padding: 5px 15px 7px;
  border-radius: 20px;
  background: #fff;
  font-size: 12px;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
  color: rgba(30, 30, 45, 0.7);
  margin: 0 10px 0 0;
  cursor: pointer;
  transition: all 0.4s ease;

  .img {
    min-width: 28px;
    text-align: center;
    margin: 0 5px 0 0;
  }

  &.active,
  &:hover {
    color: #fff;
    background: #11c278;
  }
}

.slick-arrow {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: #fff;
  color: #707070;
  padding: 12px;
  z-index: 5;
  margin-top: -5px;
  transition: all 0.4s ease;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.05);

  &:hover {
    background: #ff6067;
    color: #fff;
  }

  &.slick-prev {
    left: -40px;

    @media (max-width: 1279px) {
      left: -8px;
    }
  }

  &.slick-next {
    right: -40px;

    @media (max-width: 1279px) {
      right: -8px;
    }
  }
}

.recipesFiltersForm {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px 0 40px !important;

  .recipesFiltersbox {
    display: flex;
    align-items: center;
    width: 52%;

    @media (max-width: 767px) {
      width: 100%;
      flex-flow: row wrap;
    }
  }

  .parent-input_wrapper {
    position: relative;
    width: 100%;
    margin: 0 15px 0 0;

    @media (max-width: 767px) {
      width: 100%;
      margin: 0;
      order: 2;
    }

    + div {
      @media (max-width: 767px) {
        width: 100%;
        order: 1;
        margin: 0 0 15px;
      }
    }

    label {
      display: none;
    }

    .icon {
      width: 14px !important;
      left: 15px !important;
      z-index: 1;

      svg {
        width: 14px;
        height: 14px;

        path {
          // fill: #000;
        }
      }
    }

    .text-input {
      margin-bottom: 0 !important;
    }

    .form-control {
      background: #fff;
      border: 1px solid #e5e8ef;
      border-radius: 37px;
      height: auto;
      font-size: 10px;
      line-height: 20px;
      padding-left: 40px !important;
      padding-top: 5px !important;
      padding-bottom: 5px !important;
      color: #61616c;
    }
  }
}

.btn-secondary {
  display: flex;
  align-items: center;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: #7b7b7b;
  background: #f8f8f8;
  transition: all 0.4s ease;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: #e0464d;
    color: #fff;

    path {
      stroke: #fff;
    }
  }

  svg {
    max-width: 8px;
    height: auto;
    margin: 0 0 0 5px;

    path {
      transition: all 0.4s ease;
    }
  }
}

.savedRecipesHeader,
.profile-header {
  overflow: hidden;
  padding: 0 0 25px;
  margin: 0 0 12px;
  border-bottom: 1px solid #f2f3f5;
}

.userProfileProgresBox {
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    width: 100%;
    margin: 0 0 15px;
  }

  .circleprogress {
    width: 64px;
    margin: 0 15px 0 0;
  }

  .CircularProgressbar {
    .CircularProgressbar-trail {
      stroke: transparent;
    }

    .CircularProgressbar-path {
      stroke: #e0464d;
    }
  }

  .child-wrapper {
    width: 90%;
    border: 0 !important;
  }

  .userProfileTextbox {
    flex-grow: 1;
    flex-basis: 0;
  }

  .userProfileTitle {
    font-size: 18px;
    line-height: 22px;
    display: block;

    span {
      font-weight: 400;
      margin: 0 0 0 1px;
    }

    .userProfileImageWrap {
      width: 25px;
      margin: 0 0 0 5px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .userProfilesubTitle,
  .userProfileProgreTitle {
    display: block;
    font-size: 10px;
    line-height: 13px;
    color: #7b7b7b;
  }

  .userProfilesubTitle {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    position: relative;
    transition: all 0.25s ease-in-out;

    svg {
      fill: #e0464d;
      opacity: 0;
      visibility: hidden;
      transition: all 0.25s ease-in-out;
      position: absolute;
      right: 0;
      top: 52%;
      transform: translateY(-49%);
      margin: 0;
      width: 14px;
      height: auto;
    }

    &:hover {
      color: #e0464d;
      padding-right: 18px;

      svg {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.leaderboardRecipesBlock {
  background: #2d4558;
  position: relative;
  padding: 60px 0 80px;

  @media (max-width: 767px) {
    padding: 40px 0;
  }

  &:before {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 0;
    width: 9999px;
    height: 100%;
    background: #2d4558;
    content: "";
    z-index: -1;
  }

  .recipesSectionHeader {
    position: relative;
    z-index: 1;
    margin: 0 0 35px;
    overflow: visible;
    justify-content: space-between;

    .recipesSectionTitle {
      color: #fff;
      margin: 0 0 10px;
    }

    .recipesSectionText {
      font-size: 12px;
      color: #fff;
      opacity: 1;
      display: flex;
      align-items: center;

      svg {
        margin: 0 8px 0 0;

        path {
          fill: #e0464d;
        }
      }
    }
  }

  .leaderboardFilters {
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
      width: 100%;
      padding-top: 20px;
    }

    .button.button-sm.buttonFilter {
      background: transparent;
      color: #fff;
      flex-direction: row-reverse;
      margin: 0 0 0 20px;

      @media (max-width: 767px) {
        margin: 0 20px 0 0;
      }

      .text-button {
        color: #fff;
      }

      svg {
        width: 16px;
        max-width: 16px;
        height: 16px;
        max-height: 16px;
        margin: 0 5px 0 0;
      }

      &:hover {
        background: #305c7f;
      }
    }

    .sortByFilterDrop {
      margin-top: 5px !important;
      overflow: hidden;

      .item {
        padding: 5px 20px;
        font-size: 12px;
        line-height: 20px;
        color: #7b7b7b;
        cursor: pointer;
        transition: all 0.4s ease;

        &:hover {
          background: #e5e8ef;
        }
      }
    }
  }
}

.leaderboardRecipesList {
  column-count: 4;
  column-width: 25%;
  column-gap: 12px;

  @media (max-width: 1023px) {
    column-count: 3;
    column-width: 33.333%;
  }

  @media (max-width: 767px) {
    column-count: 2;
    column-width: 50%;
  }

  @media (max-width: 479px) {
    column-count: 1;
    column-width: 100%;
    column-gap: normal;
  }

  .recipeItem {
    width: 100%;
    margin: 0 0 12px;
    display: flex;
    align-items: center;
    padding: 10px;
    background: #f8f8f8;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;

    .recipeItemImage {
      width: 33px;
      min-width: 33px;
      height: 33px;
      border-radius: 5px;
      margin: 0 10px 0 0;

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
      }
    }

    .recipeItemTextbox {
      padding: 0;
    }

    .recipeTitle {
      font-size: 11px;
      line-height: 14px;
      margin: 0;
      color: #62626c;
    }
  }
}

.leaderboardRecipesColumns {
  display: flex;
  flex-flow: row wrap;
  padding-top: 20px;

  .Confort-Food {
    width: calc(33.333% - 16px);
    margin: 0 8px;

    @media (max-width: 1023px) {
      width: 100%;
      margin: 0 0 20px;
    }
  }

  .leaderboardSubHead {
    display: flex;
    align-items: center;
    margin: 0 0 40px;

    @media (max-width: 1023px) {
      margin: 0 0 20px;
      justify-content: space-between;
    }

    h2 {
      font-size: 20px;
      line-height: 1.5;
      color: #000;
      margin: 0 20px 0 0;
    }

    .feature-btn {
      font-size: 10px;
      line-height: 14px;
      min-width: 70px;
      color: #8d8d96;
      padding: 4px 10px;
      background: #fff;
      border: 1px solid #e5e8ef;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 20px;
      transition: all 0.4s ease;

      svg {
        margin: 0 -3px 0 3px;

        path {
          transition: all 0.4s ease;
        }
      }

      &:hover {
        color: #fff;
        background: #ff6067;
        border-color: #ff6067;

        path {
          fill: #fff;
        }
      }
    }
  }

  .recipeItem {
    width: 100%;
    margin: 0 0 16px;
    padding: 8px;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);

    .recipeItemTextbox {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 0;
    }

    .recipeItemImage {
      width: 125px;
      min-width: 125px;
      height: 120px;
      margin: 0 10px 0 0;

      @media (max-width: 1199px) {
        margin: 0;
      }

      @media (max-width: 479px) {
        width: 100px;
        min-width: 100px;
        height: 100px;
      }

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
      }
    }

    .recipeTitle {
      font-size: 13px;
    }
  }
}

.align-center {
  .recipesSectionHeader {
    text-align: center;
    justify-content: center;

    .recipesSectionTitle {
      margin: 0;
    }

    .favorite-head {
      justify-content: center;
    }
  }

  .recipesCategories {
    justify-content: center;
  }
}

.socialCooksblock {
  .slick-slider {
    .slick-slide {
      padding: 0 14px 5px 0;
    }
  }
}

.cookItemBox {
  background: #fefefe;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  margin: 0 7px;

  .image-holder {
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: auto;
    }
  }

  .videobtn {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.45);
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:before {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      content: "";
      margin-left: 2px;
      border-style: solid;
      border-color: transparent transparent transparent #000;
      border-width: 10px 0 10px 16px;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.9);
    }
  }

  .textbox {
    display: flex;
    align-items: center;
    padding: 20px;
  }

  .profile-image {
    width: 26px;
    min-width: 26px;
    height: 26px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 10px 0 0;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center;
      border-radius: 100%;
    }
  }

  .textinfo {
    flex-grow: 1;
    flex-basis: 0;
  }

  .uesername {
    font-size: 11px;
    line-height: 17px;
    color: #1e1e2d;
    display: block;
  }

  .postby {
    display: block;
    font-size: 8px;
    line-height: 14px;
    color: rgba(30, 30, 45, 0.5);
  }
}

.leaderboardRecipesHolder {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 0 -7px;
}

.top-rank {
  display: flex;
  width: 50%;

  @media (max-width: 1023px) {
    width: 100%;
  }

  @media (max-width: 767px) {
    flex-flow: row wrap;
  }
}

.top-3-profiles {
  width: calc(33.333% - 14px);
  margin: 0 7px 15px;
  background: #f8f8f8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  padding: 50px 15px 20px;

  @media (max-width: 767px) {
    width: calc(50% - 14px);
  }

  &:first-child {
    @media (max-width: 767px) {
      width: calc(100% - 14px);
    }
  }

  .image {
    width: 84px;
    min-width: 84px;
    height: 84px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto 15px;
    border: 3px solid #f3c901;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    &:before {
      width: 42px;
      height: 28px;
      position: absolute;
      left: 50%;
      content: "";
      transform: translateX(-50%);
      bottom: 100%;
      margin-bottom: 8px;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center;
      border-radius: 100%;
    }
  }

  .textbox {
    overflow: hidden;
    text-align: center;

    .cookname {
      display: block;
      font-size: 14px;
      line-height: 20px;
      color: #62626c;
      margin: 0 0 10px;

      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
  }

  .socialIcons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 -3px;

    li {
      padding: 0 3px;
    }

    .socialIconsItem {
      width: 25px;
      height: 25px;

      @media (max-width: 767px) {
        width: 22px;
        height: 22px;
      }

      svg {
        width: 13px;
        height: 13px;
      }
    }
  }

  &.gold {
    .image {
      &:before {
        background: url("../assets/images/gold.png") no-repeat;
      }
    }
  }

  &.silver {
    .image {
      border-color: #b9bfc0;

      &:before {
        background: url("../assets/images/silver.png") no-repeat;
      }
    }
  }

  &.bronze {
    .image {
      border-color: #c0763f;

      &:before {
        background: url("../assets/images/bronze.png") no-repeat;
      }
    }
  }
}

.userlist {
  width: 50%;
  display: flex;
  flex-flow: row wrap;

  @media (max-width: 1023px) {
    width: 100%;
  }
}

.top-profiles {
  display: flex;
  align-items: center;
  background: #f8f8f8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 8px 15px;
  width: calc(50% - 14px);
  margin: 0 7px 15px;

  @media (max-width: 479px) {
    width: calc(100% - 14px);
  }

  .rate-info {
    display: flex;
    align-items: center;
  }

  .rate {
    font-size: 12px;
    line-height: 18px;
    color: #565661;
    margin: 0 5px 0 0;
  }

  .image {
    width: 31px;
    min-width: 31px;
    height: 31px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 15px;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center;
      border-radius: 100%;
    }
  }

  .cookname {
    font-size: 11px;
    line-height: 14px;
    color: #62626c;
  }
}

.sectionYoutube {
  .cookItemBox {
    .image-holder {
      height: 140px;

      @media (max-width: 767px) {
        height: 170px;
      }
    }

    .videobtn {
      width: 32px;
      height: 32px;
      background: rgba(255, 255, 255, 0.8);

      &:before {
        border-width: 5px 0 5px 8px;
        border-color: transparent transparent transparent #e0464d;
      }

      &:hover {
        background: #fff;
      }
    }
  }
}

.onlineCookBlock {
  .slick-slider {
    .slick-slide {
      padding: 0 14px 5px 0;
    }
  }
}

.onlineCookBox {
  position: relative;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  overflow: hidden;
  margin: 0 7px 15px;

  .close {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }

  .image {
    width: 100%;
    height: 218px;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: top;
    }
  }

  .textbox {
    overflow: hidden;
    padding: 15px;

    .userName {
      display: block;
      color: #1e1e2d;
      font-size: 16px;
      line-height: 20px;
      margin: 0 0 10px;
    }
  }

  .totle-recip {
    display: flex;
    align-items: center;
    margin: 0 0 10px;

    span {
      font-size: 12px;
      line-height: 18px;
      color: #a2a2a2;
      margin: 0 0 0 10px;
    }
  }

  .button.button-default {
    background: #e9f3fe;
    border-radius: 6px;
    color: #3072e7;
    font-size: 10px;
    line-height: 16px;
    width: 100%;

    &:hover {
      background: #3072e7;
      border-color: #3072e7;
    }
  }
}

.instagramBlock {
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    display: block;

    @media (max-width: 1439px) {
      min-width: 1440px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .followButton {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    color: #1e1e2d;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 13px;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.4s ease-in-out;

    svg {
      width: 22px;
      height: 22px;
      margin: 0 10px 0 0;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.8);
    }
  }
}

.footer {
  background: #0e121a;
  padding: 35px 0;

  @media (max-width: 479px) {
    padding: 25px 0;
  }

  .footerContainer {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
  }

  .footerHolder {
    display: flex;
    flex-flow: row wrap;
  }

  .footerLeft {
    width: 50%;

    @media (max-width: 767px) {
      width: 100%;
      margin: 0 0 25px;
    }
  }

  .footerLogo {
    width: 127px;
    display: block;
    margin: 0 0 20px;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .footerColumns {
    display: flex;
    flex-flow: row wrap;
  }

  .footerNav {
    width: 33.333%;
    font-size: 10px;
    line-height: 14px;
    padding-right: 15px;

    @media (max-width: 1023px) {
      padding-right: 10px;
    }

    &:last-child {
      padding-right: 0 !important;
    }

    .title {
      display: block;
      font-size: 12px;
      line-height: 18px;
      color: #fff;
      margin: 0 0 10px;
      text-transform: uppercase;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0 0 1px;

        a {
          color: #8d8d96;
          display: inline-block;
          transition: all 0.4s ease-in-out;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  .footerRight {
    width: 50%;
    border-left: 1px solid rgba(205, 207, 211, 0.25);
    padding-left: 10%;

    @media (max-width: 1199px) {
      padding-left: 7%;
    }

    @media (max-width: 1023px) {
      padding-left: 4%;
    }

    @media (max-width: 767px) {
      width: 100%;
      padding-left: 0;
      border: 0;
    }
  }

  .socialIcons {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -10px 25px;

    li {
      padding: 0 5px;

      .socialIconsItem {
        width: 28px;
        height: 28px;
        border: 0;

        svg {
          width: 22px;
          height: 22px;

          path {
            fill: #fff;
          }
        }
      }
    }
  }

  .subscribeForm {
    overflow: hidden;

    .titleWrap {
      display: flex;
      align-items: center;
      margin: 0 0 8px;

      img {
        width: 26px;
        margin: 0 10px 0 0;
      }

      .title {
        display: block;
        font-size: 18px;
        line-height: 24px;
        color: #fff;
        font-weight: 400;
      }
    }

    .text {
      color: #fff;
      font-size: 11px;
      line-height: 17px;
      color: #8d8d96;
      margin: 0 0 20px;
    }
  }

  .parent-input_wrapper {
    .text-input {
      width: 100%;
      background: #181e29;
      border-radius: 5px;
      height: 40px;
      position: relative;
      margin: 0;

      label {
        display: none;
      }

      .form-control {
        width: 100%;
        height: 40px !important;
        color: #fff;
        font-size: 12px;
        line-height: 18px;
        padding: 10px 117px 10px 16px !important;
        background: transparent;
      }

      .icon {
        width: 101px;
        height: 40px;
        position: absolute;
        right: 0;
        top: 0;
        left: auto;
        transform: none;
        font-size: 12px;
        line-height: 18px;
        color: #fff;
        background: #ff595f;
        border-radius: 5px;
        display: flex !important;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .footerBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 0;
  }

  .footerLinks {
    display: flex;
    align-items: center;
    font-size: 10px;
    line-height: 15px;
    color: #8d8d96;

    @media (max-width: 767px) {
      flex-flow: row wrap;
    }

    @media (max-width: 479px) {
      font-size: 9px;
      line-height: 13px;
    }

    .copyrights {
      margin: 0 15px 0 0;
      display: block;

      @media (max-width: 767px) {
        width: 100%;
        margin: 0 0 10px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-flow: row wrap;

      li {
        + li {
          display: flex;

          &:before {
            content: "|";
            display: inline-block;
            margin: 0 10px;

            @media (max-width: 767px) {
              margin: 0 5px;
            }
          }
        }
        a {
          display: inline-block;
          color: #8d8d96;
          transition: all 0.4s ease-in-out;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  .help-link {
    color: #fff;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    line-height: 18px;
    min-width: 60px;

    &:hover {
      text-decoration: underline;
    }

    img {
      width: 20x;
      height: 20px;
      display: block;
      margin: 0 10px 0 0;
    }
  }
}

// .recipesPageWrapper {
//   padding: 20px 0 !important;

//   @media (max-width: 767px) {
//     padding: 20px 0 !important;
//   }
// }

// .Sidebar {
//   display: none;
// }

.rc-pagination {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 15px;
  padding: 30px 0 0;

  li {
    margin: 0 5px;

    &.rc-pagination-prev,
    &.rc-pagination-next {
      height: 30px;
      border: 1px solid #f2f3f5;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      cursor: pointer;
      transition: all 0.4s ease;

      &:hover {
        background: #e0464d;
        color: #fff;
        border-color: #e0464d;
      }
    }

    &.rc-pagination-item-active {
      a {
        background: #e0464d;
        color: #fff;
        border-color: #e0464d;
      }
    }
  }

  a {
    width: 30px;
    height: 30px;
    border: 1px solid #f2f3f5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s ease;

    &:hover {
      background: #e0464d;
      color: #fff;
      border-color: #e0464d;
    }
  }
}
