@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
  --tw-color-primary-50: 240 249 255;
  --tw-color-primary-100: 224 242 254;
  --tw-color-primary-200: 186 230 253;
  --tw-color-primary-300: 125 211 252;
  --tw-color-primary-400: 56 189 248;
  --tw-color-primary-500: 14 165 233;
  --tw-color-primary-600: 2 132 199;
  --tw-color-primary-700: 3 105 161;
  --tw-color-primary-800: 7 89 133;
  --tw-color-primary-900: 12 74 110;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f0f9ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #e0f2fe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bae6fd */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #7dd3fc */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #38bdf8 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #0ea5e9 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #0284c7 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #0369a1 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #075985 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #0c4a6e */
  /* #endregion  /**======== Primary Color =========== */
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("/fonts/Poppins/Poppins-Regular.ttf") format("ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    font-weight: 500;
    src: url("/fonts/Poppins/Poppins-Medium.ttf") format("ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    font-weight: 700;
    src: url("/fonts/Poppins/Poppins-Bold.ttf") format("ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "puck";
    src: url("/fonts/Puck-Regular.woff2") format("woff2"),
      url("/fonts/Puck-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "puck";
    src: url("/fonts/Puck-Medium.woff2") format("woff2"),
      url("/fonts/Puck-Medium.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  b,
  strong {
    font-weight: 700;
  }

  .cursor-newtab {
    cursor: url("/images/new-tab.png") 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }
  hr {
    @apply my-4 border-t border-gray-300;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }

  body {
    color: #4b4b4b;
  }

  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
  .sb {
    @apply border border-red-300;
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}

@layer components {
  .customArrow {
    filter: drop-shadow(-3px -1px 2px rgba(50, 50, 0, 0.5));
  }
  .customArrow:after {
    content: "";
    @apply absolute -top-[1.8rem] left-3/4 block h-3 w-5 bg-white shadow;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}

@layer components {
  .animate-shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% {
      transform: scale(1) rotate(0deg);
    }
    10% {
      transform: scale(1) rotate(10deg);
    }
    20% {
      transform: scale(1) rotate(-10deg);
    }
    30% {
      transform: scale(1) rotate(0deg);
    }
    40% {
      transform: scale(1) rotate(-10deg);
    }
    50% {
      transform: scale(1.1) rotate(10deg);
    }
    60% {
      transform: scale(1.1) rotate(0deg);
    }
    70% {
      transform: scale(1.2) rotate(-10deg);
    }
    80% {
      transform: scale(1.2) rotate(10deg);
    }
    90% {
      transform: scale(1.2) rotate(0deg);
    }
    100% {
      transform: scale(1.2) rotate(-10deg);
    }
  }
}

@import "button";
@import "modal";
@import "loader";

body {
  min-width: 360px;
}

.recipesContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.recipesSection {
  margin: 0 0 70px;

  @media (max-width: 1023px) {
    margin: 0 0 40px;
  }

  @media (max-width: 767px) {
    margin: 0 0 30px;
  }
}

.recipesSectionHeader {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 0 23px;

  .recipesSectionTitle {
    display: block;
    font-size: 25px;
    line-height: 1.5;
    color: #404040;
    margin: 0 20px 0 0;

    @media (max-width: 767px) {
      font-size: 21px;
    }
  }

  .favorite-head {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  .recipesSectionText {
    font-size: 10px;
    line-height: 1.5;
    color: #727170;
    opacity: 0.5;

    @media (max-width: 767px) {
      width: 100%;
      margin: 0 0 10px;
    }

    &:only-child {
      padding-top: 7px;
    }
  }

  .feature-btn {
    font-size: 10px;
    line-height: 14px;
    min-width: 70px;
    color: #8d8d96;
    padding: 4px 10px;
    background: #fff;
    border: 1px solid #e5e8ef;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.4s ease;

    svg {
      margin: 0 -3px 0 3px;

      path {
        transition: all 0.4s ease;
      }
    }

    &:hover {
      color: #fff;
      background: #ff6067;
      border-color: #ff6067;

      path {
        fill: #fff;
      }
    }
  }
}

.recipesSectionHolder {
  display: flex;
  margin: 0 -7px;
  flex-flow: row wrap;
}

.recipeItem {
  width: calc(20% - 14px);
  margin: 0 7px 30px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);

  @media (max-width: 1199px) {
    width: calc(25% - 14px);
  }

  @media (max-width: 1023px) {
    width: calc(33.333% - 14px);
  }

  @media (max-width: 767px) {
    width: calc(50% - 14px);
    margin-bottom: 15px;
  }

  @media (max-width: 479px) {
    width: calc(100% - 14px);
  }

  .recipeItemImage {
    position: relative;
    border-radius: 8px 8px 0 0;

    img {
      border-radius: 8px 8px 0 0;
      width: 100%;
    }
  }

  .tagsIcon,
  .heartIcon {
    position: absolute;
    top: 12px;
  }

  .heartIcon {
    left: 12px;
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 8px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .like {
      width: 32px;
      height: 32px;
      margin: 0;
      padding: 2px 0 0;
    }

    svg {
      width: 20px;
      height: 20px;

      path {
        fill: #d4d4d4;
      }
    }
  }

  .tagsIcon {
    right: 12px;
    background: #11c278;
    height: 26px;
    width: auto;
    border-radius: 15px;
    font-size: 10px;
    line-height: 16px;
    color: #fff;
    border: 0;
    padding: 3px 12px;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    svg {
      fill: #fff;
      width: 9px;
      height: 9px;
      margin: 0 5px 0 0;
    }
  }

  .recipeItemTextbox {
    overflow: hidden;
    padding: 14px 12px;
    border-radius: 0 0 8px 8px;
  }

  .recipeTitle {
    display: block;
    font-size: 15px;
    line-height: 20px;
    color: #1e1e2d;
    margin: 0 0 10px;
  }

  .recipeAuthor {
    display: block;
    font-size: 10px;
    line-height: 15px;
    color: #a2a2a2;
    margin: 0 0 13px;
  }

  .recipeMeta {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .recipeMetaBox {
    display: flex;
    align-items: center;
    font-size: 11px;
    line-height: 17px;
    color: #565661;
    width: 50%;

    svg {
      margin: 0 10px 0 0;
    }
  }
}

.recipesCategories {
  display: flex;
  white-space: nowrap;
  overflow: auto;
  margin: 0 0 20px;
  padding: 5px 0 15px;
}

.recipesCategoriesButton {
  padding: 5px 15px 7px;
  border-radius: 20px;
  background: #fff;
  font-size: 12px;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
  color: rgba(30, 30, 45, 0.7);
  margin: 0 10px 0 0;
  cursor: pointer;
  transition: all 0.4s ease;

  &.active,
  &:hover {
    color: #fff;
    background: #11c278;
  }
}

.recipesPageWrapper {
  // padding: 20px 0 !important;

  // @media (max-width: 767px) {
  //   padding: 20px 0 !important;
  // }
}

.slick-arrow {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: #fff;
  color: #707070;
  padding: 12px;
  z-index: 5;
  margin-top: -5px;
  transition: all 0.4s ease;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.05);

  &:hover {
    background: #ff6067;
    color: #fff;
  }

  &.slick-prev {
    left: -40px;

    @media (max-width: 1279px) {
      left: -8px;
    }
  }

  &.slick-next {
    right: -40px;

    @media (max-width: 1279px) {
      right: -8px;
    }
  }
}

.recipesFiltersForm {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px 0 40px !important;

  .recipesFiltersbox {
    display: flex;
    align-items: center;
    width: 52%;

    @media (max-width: 767px) {
      width: 100%;
      flex-flow: row wrap;
    }
  }

  .parent-input_wrapper {
    position: relative;
    width: 100%;
    margin: 0 15px 0 0;

    @media (max-width: 767px) {
      width: 100%;
      margin: 0;
      order: 2;
    }

    + div {
      @media (max-width: 767px) {
        width: 100%;
        order: 1;
        margin: 0 0 15px;
      }
    }

    label {
      display: none;
    }

    .icon {
      width: 14px !important;
      left: 15px !important;
      z-index: 1;

      svg {
        width: 14px;
        height: 14px;

        path {
          fill: #000;
        }
      }
    }

    .text-input {
      margin-bottom: 0 !important;
    }

    .form-control {
      background: #fff;
      border: 1px solid #e5e8ef;
      border-radius: 37px;
      height: auto;
      font-size: 10px;
      line-height: 20px;
      padding-left: 40px !important;
      padding-top: 5px !important;
      padding-bottom: 5px !important;
      color: #61616c;
    }
  }
}

.btn-secondary {
  display: flex;
  align-items: center;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: #7b7b7b;
  background: #f8f8f8;
  transition: all 0.4s ease;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: #e0464d;
    color: #fff;

    path {
      stroke: #fff;
    }
  }

  svg {
    max-width: 8px;
    height: auto;
    margin: 0 0 0 5px;

    path {
      transition: all 0.4s ease;
    }
  }
}

.savedRecipesHeader {
  overflow: hidden;
  padding: 0 0 25px;
  margin: 0 0 12px;
  border-bottom: 1px solid #F2F3F5;
}

.userProfileProgresBox {
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    width: 100%;
    margin: 0 0 15px;
  }

  .circleprogress {
    width: 64px;
    margin: 0 15px 0 0;
  }

  .CircularProgressbar {
    .CircularProgressbar-trail {
      stroke: transparent;
    }

    .CircularProgressbar-path {
      stroke: #e0464d;
    }
  }

  .child-wrapper {
    width: 90%;
    border: 0 !important;
  }

  .userProfileTextbox {
    flex-grow: 1;
    flex-basis: 0;
  }

  .userProfileTitle {
    font-size: 18px;
    line-height: 22px;
    display: block;

    span {
      font-weight: 400;
      margin: 0 0 0 1px;
    }

    .userProfileImageWrap {
      width: 25px;
      margin: 0 0 0 5px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .userProfilesubTitle,
  .userProfileProgreTitle {
    display: block;
    font-size: 10px;
    line-height: 13px;
    color: #7b7b7b;
  }

  .userProfilesubTitle {
    cursor: pointer;
    display: inline-block;
    vertical-align:top;
    position: relative;
    transition: all 0.25s ease-in-out;
    
    svg {
      fill: #aa141c;
      opacity: 0;
      visibility: hidden;
      transition: all 0.25s ease-in-out;
      position: absolute;
      right: 0;
      top: 52%;
      transform: translateY(-49%);
      margin: 0;
      width: 14px;
      height: auto;
    }

    &:hover {
      color: #aa141c;
      padding-right: 18px;

      svg {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}